/* VARIABLES */
:root {
  --light-background: #f2ece4;
  --light-text: #036;
  /* --main-text-color : #fff; */
  /* --main-bg-color : #fff; */
  /* --main-font-size : 16px; */
  /* --main-line-height : 1.5; */
}

/* MIXINS */ /**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* FONTS */
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/roboto-v30-latin-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* GENERAL */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
}

/* STICKY-FOOTER */
.site-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-wrapper__link {
  display: block;
  width: 225px;
  height: 125px;
  padding-top: 30px;
  background-color: #2490EB;
}

.header-wrapper__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
  height: 60px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-right {
  width: 100%;
}

.header-right__top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #14457B;
}

.header-right__top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-right__top-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  border-right: 1px solid rgba(255, 255, 255, 0.1019607843);
}

.header-right__top-tel::before {
  content: "";
  width: 20px;
  height: 18px;
  display: block;
  margin-right: 10px;
  background-image: url("../images/phone-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.header-right__top-gmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  border-right: 1px solid rgba(255, 255, 255, 0.1019607843);
}

.header-right__top-gmail::before {
  content: "";
  width: 20px;
  height: 18px;
  display: block;
  margin-right: 10px;
  background-image: url("../images/mail.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.header-right__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-right__item {
  padding: 15px 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.1019607843);
}

.header-right__under {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  background-color: #fff;
  z-index: 10;
}

.header-right__under-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 10;
}

.header-right__under-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 15px;
  color: #fff;
  z-index: 10;
}

.header-right__under-item::after {
  content: "";
  width: 15px;
  height: 15px;
  display: block;
  margin-left: 5px;
  background-image: url("../images/bottom.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.header-right__under-item:last-child::after {
  display: none;
}

.header-right__under-item:hover .header-bottom__home {
  position: absolute;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
}

.header-bottom__home-item {
  width: 200px;
  padding: 20px;
  background-color: #fff;
  color: #000;
  z-index: 0;
}

.header-bottom__home-item:hover {
  background-color: #2490EB;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header-bottom__home-item:first-child {
  padding-top: 50px;
}

.header-bottom__link {
  font-size: 15px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6980392157);
  text-transform: uppercase;
}

.header-bottom__link:hover {
  color: #2490EB;
}

.header-bottom__home {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-right__under-search {
  display: inline-block;
  padding: 31px 30px;
  border-left: 1px solid rgba(70, 67, 67, 0.1019607843);
  cursor: pointer;
}

.header-right__under-hamburger {
  display: inline-block;
  padding: 26px 20px;
  background-color: #2490EB;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .header-right__under {
    padding: 0px 20px;
  }
  .header-right__under-list {
    display: none;
  }
  .header-right__under-hamburger {
    padding: 15px 15px;
    border-radius: 8px;
  }
  .header-wrapper__link {
    width: 325px;
    height: 90px;
  }
  .header-wrapper__logo {
    width: 200px;
  }
  .header-right__under-list--active {
    position: absolute;
    width: 74%;
    top: 91px;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    z-index: 1;
  }
  .header-right__under-item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    color: #fff;
    z-index: -1;
  }
  .header-bottom__home {
    position: absolute;
    left: 0px;
    width: 100%;
    background-color: #fff;
    z-index: 21;
  }
  .header-bottom__home-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    text-align: start;
  }
}
@media only screen and (max-width: 992px) {
  .header-right__top {
    display: none;
  }
  .header-wrapper__link {
    height: 90px;
    padding-top: 15px;
  }
  .header-right__under-search {
    padding-top: 32px;
    padding-bottom: 30px;
  }
}
.hero {
  height: 100vh;
  background-color: #000;
  background-image: url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
}

.hero-box__info {
  padding-top: 150px;
}

.hero-box__title {
  margin-bottom: 20px;
  padding: 10px;
  display: inline-block;
  color: #fff;
  font-size: 15px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.295);
}

.hero-box__title-box {
  width: 100%;
  max-width: 500px;
}

.hero-box__site-title {
  margin: 0;
  margin-bottom: 10px;
  color: #fff;
  font-size: 60px;
}

.hero-box__text {
  margin: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 18px;
  line-height: 30px;
}

.hero-box__link {
  display: inline-block;
  padding: 15px;
  padding-right: 35px;
  font-size: 19px;
  background-color: rgb(44, 125, 190);
  color: #fff;
  background-image: url("../images/plus.png");
  background-repeat: no-repeat;
  background-size: 17px;
  border-radius: 8px;
  background-position: calc(50% + 60px) 50%;
  text-decoration: none;
}

@media only screen and (max-width: 1240px) {
  .hero {
    height: 600px;
    background-size: cover;
  }
}
@media only screen and (max-width: 992px) {
  .hero {
    background-size: cover;
    background-position: 50% 50%;
  }
}
@media only screen and (max-width: 700px) {
  .hero {
    background-size: cover;
    background-position: calc(50% - 70px) 50%;
  }
  .hero-box__title-box {
    max-width: 350px;
  }
  .hero-box__site-title {
    font-size: 40px;
  }
  .hero-box__text {
    font-size: 15px;
  }
}
@media only screen and (max-width: 500px) {
  .hero {
    background-size: cover;
    background-position: calc(50% - 140px) 50%;
  }
  .hero-box__title-box {
    max-width: 300px;
  }
  .hero-box__site-title {
    font-size: 30px;
  }
  .hero-box__text {
    font-size: 12px;
  }
  .hero-box__link {
    font-size: 10px;
    background-size: 15px;
    background-position: calc(50% + 35px) 50%;
  }
}
@media only screen and (max-width: 375px) {
  .hero {
    background-size: cover;
    background-position: calc(50% - 180px) 50%;
  }
}
.services {
  position: relative;
  height: 550px;
  padding: 100px 0px;
  background-color: #2490EB;
}

.services-box__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services-box__short-title {
  display: inline-block;
  margin-bottom: 10px;
  padding: 5px;
  color: #2490EB;
  font-size: 13px;
  letter-spacing: 2px;
  background-color: #fff;
  border-radius: 5px;
}

.services-box__list {
  position: absolute;
  top: 280px;
  left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.services-box__item {
  margin-right: 40px;
}

.services-box__item:last-child {
  margin-right: 0;
}

.services-box__item::before {
  position: absolute;
  bottom: 200px;
  left: -100px;
  content: "";
  width: 20px;
  height: 30px;
  display: inline-block;
  padding: 5px;
  background-image: url("../images/doctor-icon.png");
  background-repeat: no-repeat;
  background-color: #2490EB;
  z-index: 10;
}

.services-box__item-img {
  width: 350px;
}

.services-box__info {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}

.services-box__title {
  margin: 0;
  font-size: 35px;
  letter-spacing: 3px;
  text-align: left;
  color: #fff;
}

.services-box__info-title {
  margin: 0;
  margin-bottom: 5px;
  letter-spacing: 2px;
  color: #000;
}

.services-box__info-text {
  margin: 0;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.623);
}

.services-box__info-link {
  text-decoration: none;
  color: #2490EB;
  font-size: 15px;
}

@media only screen and (max-width: 1250px) {
  .services-box__list {
    left: calc(50% - 560px);
  }
}
@media only screen and (max-width: 1160px) {
  .services-box__list {
    left: calc(50% - 380px);
  }
  .services-box__item:last-child {
    display: none;
  }
}
@media only screen and (max-width: 816px) {
  .services-box__list {
    left: calc(50% - 150px);
  }
  .services-box__item:first-child {
    margin-right: 0;
  }
  .services-box__item:nth-child(2) {
    display: none;
  }
}
@media only screen and (max-width: 375px) {
  .services-box__list {
    left: calc(50% - 150px);
  }
  .services-box__item:first-child {
    width: 100%;
    max-width: 300px;
  }
  .services-box__item-img {
    width: 300px;
  }
  .services-box__info {
    max-width: 300px;
  }
}/*# sourceMappingURL=main.css.map */