.header-wrapper {
  display: flex;
}
.header-wrapper__link {
  display: block;
  width: 370px;
  height: 125px;
  padding-top: 30px;
  background-color: #2490eb;
}
.header-wrapper__logo {
  display: flex;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}
.header-right {
  width: 100%;
}
.header-right__top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // padding: 15px 10px;
  background-color: #14457b;
}
.header-right__top-left {
  display: flex;
  align-items: center;
  // padding: 10px;
}
.header-right__top-tel {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  border-right: 1px solid #ffffff1a;
}
.header-right__top-tel::before {
  content: "";
  width: 20px;
  height: 18px;
  display: block;
  margin-right: 10px;
  background-image: url("../images/phone-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.header-right__top-gmail {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  border-right: 1px solid #ffffff1a;
}
.header-right__top-gmail::before {
  content: "";
  width: 20px;
  height: 18px;
  display: block;
  margin-right: 10px;
  background-image: url("../images/mail.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.header-right__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.header-right__item {
  padding: 15px 20px;
  border-left: 1px solid #ffffff1a;
}

.header-right__under {
  display: flex;
  align-items: center;
  justify-content: end;
  // padding: 31px;
  background-color: #fff;
  z-index: 10;
}
.header-right__under-list {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 10;
}
.header-right__under-item {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 15px;
  color: #fff;
  z-index: 10;
}
.header-right__under-item::after {
  content: "";
  width: 15px;
  height: 15px;
  display: block;
  margin-left: 5px;
  background-image: url("../images/bottom.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.header-right__under-item:last-child::after {
  display: none;
}
.header-right__under-item:hover .header-bottom__home {
  position: absolute;
  top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  // padding: 15px;
  z-index: 1;
}
.header-bottom__home-item {
  width: 200px;
  padding: 20px;
  background-color: #fff;
  color: #000;
  z-index: 0;
}
.header-bottom__home-item:hover {
  background-color: #2490eb;
  color: #fff;
  transition: 0.5s;
}
.header-bottom__home-item:first-child {
  padding-top: 50px;
}
.header-bottom__link {
  font-size: 15px;
  text-decoration: none;
  color: #000000b2;
  text-transform: uppercase;
}
.header-bottom__link:hover {
  color: #2490eb;
}
.header-bottom__home {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-right__under-search {
  display: inline-block;
  padding: 31px 30px;
  border-left: 1px solid #4643431a;
  cursor: pointer;
}
.header-right__under-hamburger {
  display: inline-block;
  padding: 26px 20px;
  background-color: #2490eb;
  cursor: pointer;
}

// responsive start
@media only screen and (max-width: 1024px) {
  .header-right__under {
    // margin-top: 25px;
    padding: 0px 20px;
  }
  .header-right__under-list {
    display: none;
  }
  .header-right__under-hamburger {
    padding: 15px 15px;
    border-radius: 8px;
  }
  .header-wrapper__link {
    width: 325px;
    height: 90px;
  }
  .header-wrapper__logo {
    width: 200px;
  }
  .header-right__under-list--active {
    position: absolute;
    width: 74%;
    top: 91px;
    right: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #fff;
    z-index: 1;
  }
  .header-right__under-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    color: #fff;
    z-index: -1;
  }
  .header-bottom__home {
    position: absolute;
    left: 0px;
    width: 100%;
    background-color: #fff;
    z-index: 21;
  }
  //   .header-bottom__link {
  //     // color: #fff;
  //   }
}
@media only screen and (max-width: 992px) {
  .header-right__top {
    display: none;
  }
  .header-wrapper__link {
    height: 90px;
    padding-top: 15px;
  }
  .header-right__under-search {
    padding-top: 32px;
    padding-bottom: 30px;
  }
}
